
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-skype-outline:before { content: '\e803'; } /* '' */
.icon-skype-1:before { content: '\e804'; } /* '' */
.icon-mail-2:before { content: '\e805'; } /* '' */
.icon-email:before { content: '\e806'; } /* '' */
.icon-skype-2:before { content: '\e807'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\e808'; } /* '' */
.icon-odnoklassniki-rect-1:before { content: '\e809'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-skype-3:before { content: '\f30b'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */