/*BUTTON-MENU*/

.button-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
    text-align: right;
    position: absolute;
    right: 0;

    &__link {
        padding: 10px 40px;
        display: block;
        background-color: rgba(255, 255, 255, .4);

        @media (max-width: 830px) {
            background-color: rgba(255, 255, 255, .9);
            color: #333;
        }

        &:hover {
            background-color: #eee;
            color: #333;

            @media (max-width: 830px) {
                background-color: #ddd;
            }
        }
    }
}

#checkbox-button-menu:checked+.button-menu {
    display: block;
}