/* MENU */

.menu {
    &__list {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        margin-right: 30px;
        color: rgba(255, 255, 255, 0.8);
        position: relative;
        @media (max-width: 365px) {
            margin: 0 9px;
        }
        label {
            @media (max-width: 365px) {
                font-size: 250%;
            }
        }
    }

    &__link {
        text-transform: uppercase;
    }
}

