/* MENU */

.menu {
    &__list {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        margin-right: 30px;
        color: rgba(255, 255, 255, 0.8);
        position: relative;

        @media (max-width: 365px) {
            margin: 0 9px;
        }

        label {
            @media (max-width: 365px) {
                font-size: 250%;
            }
        }
    }

    .drop:hover > .button-menu {
        /* display: block; */
        opacity: 1;
    }

    /* .dropdown-list:hover .button-menu li:first-of-type {
        -webkit-animation: menu5 0.3s ease-in-out forwards;
                animation: menu5 0.3s ease-in-out forwards;
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
    }

    @-webkit-keyframes menu5 {
        0% {
          opacity: 0;
          transform: rotateX(-90deg);
        }

        100% {
          opacity: 1;
          transform: rotateX(0);
        }
    }

    @keyframes menu5 {
        0% {
          opacity: 0;
          transform: rotateX(-90deg);
        }

        100% {
          opacity: 1;
          transform: rotateX(0);
        }
    } */

    &__link {
        text-transform: uppercase;
    }
}

